<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.dao.UserDao">
    <cache eviction="FIFO" flushInterval="60000"></cache>
    <select id="selectAll" resultType="com.seed.entity.User">
        select *
        from user;
    </select>

    <insert id="registerUser">
        insert into user(id, uid, name, password, create_time, update_time)
        values (#{Id}, #{Uid}, #{Name}, #{PassWord}, #{CreateTime}, #{UpdateTime});
    </insert>

    <insert id="addUserRecord">
        insert into user_record
        values (#{id}, #{uid});
    </insert>

    <select id="getMaxUserRecordUid" resultType="String">
        select max(uid)
        from user_record;
    </select>

    <update id="updateUserInformation">
        update user
        set gender=#{Gender},
            age=#{Age}
        where id = #{Id};
    </update>

    <select id="userLogin" resultType="com.seed.entity.User">
        select *
        from user
        where name = #{Name}
          and password = #{PassWord};
    </select>

    <select id="userIsExistName" resultType="com.seed.entity.User">
        select *
        from user
        where name = #{Name};
    </select>

    <select id="userGetById" resultType="com.seed.entity.User">
        select *
        from user
        where uid = #{uid};
    </select>
</mapper>